// Fix the Bootstrap font path so it points to wwwroot/fonts instead of wwwroot/fonts/bootstrap.
$icon-font-path: '../fonts/';

// Import the bootstrap SASS style-sheet so that it can be customized and variables overridden here.
@import '../node_modules/bootstrap-sass/assets/stylesheets/bootstrap';

body {
  padding-bottom: 20px;
  padding-top: 50px;
}

// Wrapping element
// Set some basic padding to keep content from hitting the edges
.body-content {
  padding-left: 15px;
  padding-right: 15px;
}

// Allow only vertical resizing of textareas.
textarea {
  resize: vertical;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(359deg);
  }
}

$white: rgba(255, 255, 255, 1);
$transparent-white: rgba(255, 255, 255, 0);
$black: rgba(0, 0, 0, 1);
$semi-transparent-black: rgba(0, 0, 0, .85);

@keyframes TOOLTIP {
  from {
    background-color: transparent;
    border: .05em solid $transparent-white;
    box-shadow: 0 0 0 $black;
    color: $transparent-white;
    top: .5em;
  }

  to {
    background-color: $semi-transparent-black;
    border: .05em solid $white;
    box-shadow: .15em .15em .5em $black;
    color: $white;
    top: 1.5em;
  }
}

// Emoji accessability styles - based on http://adrianroselli.com/2016/12/accessible-emoji-tweaked.html
.emoji {
  position: relative;

  &:focus,
  &:hover {
    &::after {
      animation: TOOLTIP .1s ease-out 1;
      background-color: $semi-transparent-black;
      border: .05em solid $white;
      border-radius: .2em;
      box-shadow: .15em .15em .5em $black;
      color: $white;
      content: attr(aria-label);
      display: block;
      font-size: 80%;
      left: 0;
      padding: .5em .75em;
      position: absolute;
      top: 1.5em;
      z-index: 1;
    }
  }

  @media print {
    &::after {
      content: ' (' attr(aria-label) ') ';
    }
  }
}

// Mark external links with an arrow symbol
a {
  &[href^='http'] {
    &::after {
      content: url('/img/External.svg');
    }
  }
}

// Loading indicator
.loading-indicator {
  animation: rotation 3s infinite linear;
  display: none; // We will show this with JavaScript, defualt to invisible for JS-disabled viewers
  left: calc(50% - 100px);
  position: absolute;
  top: calc(50% - 100px);
  z-index: 9999;
}
