<details>
    <summary>Legal disclaimer</summary>
    <p>The following essay may include a short story. This is included to illustrate the aurguments contained in the essay, not to assert any form of ownership over the characters involved.</p>
    <p>Any page that contains this disclaimer will never generate income for the author of the page.</p>
    <p>The copyright holders of these characters were not consulted on this essay, and all views and opinions expressed in this essay remain that of the author.</p>
    <p>In the event that a copyright holder feels I have infringed on their rights, please notify me by email at <a href="mailto:TODO.com">TODO</a> with proof of ownership and I will remove the offending material as soon as possible.</p>
</details>
