@inject IOptionsSnapshot<AppSettings> AppSettings
@{
    // See Index.cshtml for full comments.
    ViewBag.Title = "About";
    ViewBag.Description = "The ASP.NET Core Boilerplate about page.";
}

<header class="mt-2">
    <h1>@Html.Emoji(Emoji.InformationDeskPerson) @ViewBag.Title</h1>
</header>

<p>@ViewBag.Description</p>
