@inject IOptionsSnapshot<AppSettings> AppSettings
@{
    // See Index.cshtml for full comments.
    ViewBag.Title = "Contact";
    ViewBag.Description = "The ASP.NET Core Boilerplate contact page.";
}

<header class="mt-2">
    <h1>@Html.Emoji(Emoji.Telephone) @ViewBag.Title</h1>
</header>

<div class="row">
    <section class="col-md-9" role="region">
        <p>@ViewBag.Description</p>
    </section>
    <aside class="col-md-3" role="complementary">
        <address>
            One Microsoft Way<br>
            Redmond, WA 98052-6399<br>
            <abbr title="Phone">P:</abbr>
            425.555.0100
        </address>
        <address>
            <strong>Support:</strong>   <a href="mailto:Support@example.com">Support@example.com</a><br />
            <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
        </address>
    </aside>
</div>
