@inject IOptionsSnapshot<AppSettings> AppSettings
@{
    ViewBag.Title = "Offline";
    ViewBag.Description = "You are currently offline, and do not have a cached version of this page availible.";
}

<header class="page-header">
    <h1>@Html.Emoji(Emoji.ElectricPlug) @ViewBag.Title</h1>
</header>
<div class="row">
    <article class="col-md-8">
        <p>@ViewBag.Description</p>
        <p>Here are the pages you <em>do</em> have cached:</p>
        <noscript>
            <div class="alert alert-warning" role="alert">
                <p>Unfortunately, JavaScript caching is not available with JavaScript disabled. Please <a class="alert-link" rel="external" href="https://enable-javascript.com/">enable JavaScript</a> to cache pages for future offline use.</p>
            </div>
        </noscript>
        <nav>
            <ul id="offline-nav-items"></ul>
        </nav>
    </article>
</div>